@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-pink: #e8adb3;
  --color-gray: #837e7ee6;
  --color-yellow: #fff7d1;
  --color-deeppink: deeppink;

  --font-large: 48px;
  --font-mediun: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  --size-border-radius: 4px;

  --animation-duration: 300ms;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Cafe24Ssurround", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(229, 245, 206);
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}
button {
  background-color: rgb(239, 218, 146);
  cursor: pointer;
  border: none;
  outline: none;
}

h1 {
  font-size: var(--font-large);
  font-weight: bold;
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-mediun);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0px;
}
p {
  font-size: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0px;
}
/* navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: var(--color-pink);
  z-index: 1;
  transition: all var(--animation-duration) ease-in-out;
}
#arrow {
  z-index: 2;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  color: var(--color-white);
  font-size: var(--font-mediun);
}
#arrow.arrow--display {
  display: block;
}
.navbar__logo {
  font-size: var(--font-mediun);
  font-weight: bold;
  color: var(--color-white);
}
.navbar__menu {
  display: flex;
}

.navbar__menu.open {
  display: block;
}
.navbar__menu__item.clicks {
  border: 1px solid white;
  border-radius: var(--size-border-radius);
}
#navbar.navbar--bold {
  background-color: rgb(110, 238, 234);
  /* padding: 10px; */
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  color: var(--color-white);
  cursor: pointer;
}
.navbar__menu__item.active {
  border: 1px solid white;
  border-radius: var(--size-border-radius);
}
.navbar__menu__item:hover {
  background-color: #abd0bc;
  font-size: 17px;
  color: var(--color-black);
  border: 1px solid white;
  border-radius: var(--size-border-radius);
  border-radius: var(--size-border-radius);
}
.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: var(--font-regular);
  color: var(--color-white);
  display: none;
}
#home {
  background: url(./image/nt2.png) bottom/cover no-repeat;
  padding: 40px;
  text-align: center;
}
.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 30%;
  border: 2px solid var(--color-white);
  margin-top: 100px;
}
.home__title,
.home__description {
  color: var(--color-white);
}
.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: bold;
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}
.home__contact:hover {
  background-color: #f4fb73;
}
#intro {
  background: url(./image/nt4.png) center/cover no-repeat;
}
#intro > p {
  color: var(--color-yellow);
}
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}
.section__container {
  max-width: 1200px;
  margin: auto;
}
.intro__majors {
  display: flex;
  justify-content: space-around;
  margin: 80px 0;
}
.major_icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
  border-radius: 50%;
  margin-bottom: 16px;
}
.major_icon i {
  transition: all var(--animation-duration) ease;
}
.major_icon:hover {
  color: var(--color-pink);
  transform: scale(1.2);
}
.major_title,
.major_description {
  color: var(--color-white);
}
.major_description {
  font-size: var(--font-small);
}
.job {
  display: flex;
  align-items: center;
  justify-content: center;
}
.job__description {
  margin: 0 16px;
  /* text-align: left; */
}
.job__name,
.job__priod {
  color: var(--color-gray);
}

.job__name {
  font-size: var(--font-small);
}
.job__period {
  font-size: var(--font-micro);
}
.about__jobs__icon {
  width: 120ox;
  height: 120px;
}
/* skill */
#Skill {
  background: url(./image/nt.png) center/cover no-repeat;
}
.skillset {
  display: flex;
  background-color: var(--color-gray);
  color: var(--color-white);
  margin: 20px 0;
}
.skillset__title {
  color: var(--color-white);
}
.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-black);
  padding: 20px 40px;
}
.skill {
  margin-bottom: 32px;
}
.skill__description {
  display: flex;
  justify-content: space-between;
}
.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-gray);
}
.skill__value {
  height: 10px;
  background-color: var(--color-pink);
}
.skillset__right {
  flex-basis: 40%;
}
.tools {
  padding: 10px;
  background-color: var(--color-gray);
}
.project_category {
  margin: 40px;
}
.category__btn {
  border: 1px solid var(--color-gray);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}
.category__btn.active,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}
.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-pink);
  border-radius: var(--size-border-radius);
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease;
}
.project__work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
}
#project {
  background: url(./image/nt1.png) center/cover no-repeat;
}
#project h1,
h3 {
  color: var(--color-white);
}
.project__image {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.project__description {
  position: absolute;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-white);
}
.project__description h3::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: aquamarine;
}
/* 추천서 */
#testimonials {
  background: url(./image/nt5.png) bottom/cover no-repeat;
}
#testimonials h3 {
  color: var(--color-gray);
}
.textimonial {
  display: flex;
  margin: 32px 0;
  justify-content: center;
}
.testimonial__avatar {
  width: 150px;
  height: 150px;
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
}
.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}
.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}
.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p {
  color: var(--color-gray);
}
.testimonial__speech-bubble a {
  color: var(--color-pink);
}
/* contact */
#contact {
  background: url(./image/Pink\ Black\ White\ Red\ Photocentric\ Feminine\ Lifestyle\ Beauty\ Fashion\ YouTube\ Channel\ Art\ Banner.png)
    center/cover no-repeat;
}
.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}
.contact__arrow {
  background-color: var(--color-pink);
  text-align: center;
}

.contact__title {
  margin: 32px 0;
}

contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
  transition: all var(--animation-duration) ease-in;
}
.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-white);
}

@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .about__majors {
    flex-direction: column;
  }
  .major {
    margin-bottom: 38px;
  }
  .skillset {
    flex-direction: column;
  }
  .project {
    flex-grow: 1;
  }
  .testimonial__avatar {
    width: 80px;
    height: 80px;
  }
}
.project.none {
  display: none;
}
.project.see {
  display: "";
}
